
Wrangling OSM data for Madrid/1. Data/Full/Madrid_custom_11122017.7z
Wrangling OSM data for Madrid/5. Report/report.tex
Wrangling OSM data for Madrid/5. Report/images/*
Wrangling OSM data for Madrid/3. Preparing_database/output/*
Wrangling OSM data for Madrid/1. Data/Full/Madrid_custom_11122017.osm
Wrangling OSM data for Madrid/1. Data/Sample/Madrid_custom_11122017_sample_1.osm
*.pyc
